# Python
__pycache__/
*.py[cod]
.venv/
venv/
!.gitkeep

# Data
data/input/*
data/output/*
data/logs/*

# Excel files
*.xlsx
*.xls
*.xlsm

# Logs
*.log

# OS/editor
.DS_Store
Thumbs.db
.idea/
.vscode/

.venv/
.idea/
__pycache__/



